<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>匹配点(多选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>行业相同</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>工作内容</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>岗位相近</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>基本素质</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>邀约到场(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>是</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>否</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>迟到</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>反馈不参加</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>简历真实性(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>低</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>中</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>高</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>不清楚</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>求职意愿度(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>低</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>中</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>高</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>不清楚</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>职业稳定性(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>低</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>中</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>高</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>不清楚</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>求职动机(多选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>提升发展</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>增加收入</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>转换职位</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>私人原因</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>面试表现(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>差</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>一般</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>合格</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>优秀</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>目前年收入(单选)</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>5万以下</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>5-10万</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>10-20万</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>20-50万</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐意见</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>不建议录用</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>备选</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>推荐</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>强烈推荐</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>目标候选人</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>是</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>否</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>待定</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>分享</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>表现</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>性格内向</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>性格外向</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>开朗活泼</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>成熟稳重</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>谨小慎微</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>态度</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>积极主动</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>自我优越</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>放荡不羁</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>踏实诚恳</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>礼貌谦虚</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>表达</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>表达明确</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>思维清晰</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>思路活跃</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>逻辑混乱</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>词不达意</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>反应</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>反应敏捷</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>逻辑清晰</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>回馈迅速</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>回应木讷</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>专业</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>理论扎实</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>实操丰富</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>创新创造</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>基础工作</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>按部就班</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>超越预期</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>管理</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>经验丰富</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>经验不足</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>意识强烈</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>合作</string>
		<key>option</key>
		<array>
			<dict>
				<key>answer</key>
				<string>团队意识</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>服从安排</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>answer</key>
				<string>任劳任怨</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
		<key>isSingle</key>
		<false/>
	</dict>
</array>
</plist>
